= form_for(@narigraph, url: game_narigraphs_path, remote: true) do |f|
    -# - if @narigraph.errors.any?
    -#     #error_explanaton
    -#         %h2= pluralize(@narigraph.errors.count, "fuckup")+"prohibited this article from being saved:"
    -#         %ul
    -#             - @narigraph.errors.full_messages.each do |msg|
    -#                 %li= msg
    .form-group
        = f.label "What do you do?"
        %input{type: "hidden", value: params[:game_id], name: "narigraph[game_id]"}
        %input{type: "hidden", value: character_id, name: "narigraph[character_id]"}
        = f.text_area :text, class: "form-control", rows: 3
    .btn-lg= f.submit "Do it"
