<style>
.narigraph {
  border: 1px solid #e8e8e8;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.narigraph p {
  margin-bottom: 0px;
}

.narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}

.bold-narigraph {
  border: 1px solid #99CCFF;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.bold-narigraph p {
  margin-bottom: 0px;
}

.bold-narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.bold-narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}
</style>

<div class="row">
  <div class="col-sm-2 hidden-xs">&nbsp;</div>
  <div class="col-sm-8 col-xs-12">

    <div class="<%= narigraph.auto_generated ? "bold-narigraph" : "narigraph"%>">
      <div class="row">
        <div class="col-xs-12">
          <p class="message"><%= narigraph.text %></p>
        </div>
          <div class="col-xs-12">
            <div class="pull-right">
              <p><strong>- <%= narigraph.character.name %></strong>
                <small><%= narigraph.timestamp %></small>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
