<div class="row">
  <div class="col-sm-2 hidden-xs">&nbsp;</div>
  <div class="col-sm-8 col-xs-12">

    <div class="<%= narigraph.auto_generated ? "bold-narigraph" : "narigraph"%>">
      <div class="row">
        <div class="col-xs-12">
          <p class="message"><%= narigraph.text %></p>
        </div>
          <div class="col-xs-12">
            <div class="pull-right">
              <p><strong>- <%= narigraph.character.name %></strong>
                <small><%= narigraph.timestamp %></small>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
