<style>
.narigraph {
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.narigraph p {
  margin-bottom: 0px;
}

.narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.narigraph small {
  color: #ccc;
  padding-left: 10px;
}
</style>

<div class="row">
  <div class="col-sm-2 col-xs-0">&nbsp;</div>
  <div class="col-sm-8 col-xs-12">
    <div class="narigraph">
      <div class="row">
        <div class="col-xs-12">
          <p class="message"><%= narigraph.text %></p>
        </div>
          <div class="col-xs-12">
            <div class="pull-right">
              <p><strong>- <%= narigraph.character.name %></strong>
                <small><%= narigraph.timestamp %></small>
              </p>
            </div>
        </div>
      </div>
    </div>

  </div>
  <div class="3"></div>
</div>
