%head
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

.container-fluid#main-container
    %h1 Once upon a time...
    .table
        %table.table#narigraphs
            %th.col-xs-1 Character Name:
            %th.col-xs-11 What Happens:

            = render @narigraphs

    %h3 What do you do?
    = render 'form'
