%h1 Begin
.table
    %table.table-condensed#narigraphs
        %th.col-xs-3 Character Name:
        %th.col-xs-8 What Happens:
        %th.col-xs-1 When:
        = render @narigraphs.reverse

- if player.active_character
    %h3 What do you do?
    = render partial: 'form', locals: {character_id: player.active_character.id}
- else
    %div (Create and Activate a Character to Participate)

#infinite-scrolling
    = will_paginate @narigraphs
