
<!-- TODO this could use a cleanup -->
<% user.games.each do |game| %>
<div class="row game-box">
  <div class="col-xs-12">
    <strong class="pull-left">
      <%= link_to "Game ##{game.id}", game_path(game) %>
    </strong>
    <small class="pull-right overflow">
      <%= game.description %>
    </small>
  </div>
  <div class="col-xs-12">
    <div>
      <% character = user.active_character_in_game(game) %>
      <%= link_to character.name, character_path(character) %>
    </div>
  </div>
</div>
<% end %>
