<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to Dungeon World</h1>
      <!-- <div class="btn-lg"><%= link_to 'play', games_path, class: 'btn btn-lg' %></div> -->
    </div>
  </div>
</div>
