<%= form_for(@game) do |f| %>
<div class="form-group">
  <%= f.label "Description:" %>
  <%= f.text_area :description, class: "form-control", rows: 3 %>
</div>
<%= f.submit "Save Changes", class: "btn btn-default form-control" %>
<% end %>
