<%= form_for(@game) do |f| %>
<div class="form-group">
  <%= f.label "Description:" %>
  <%= f.text_area :description, class: "form-control", rows: 3 %>
</div>
<div class="btn-lg"><%= f.submit "Save Changes" %></div>
<% end %>
