<div class="table-responsive">
  <table class="table">
    <tr>
      <th class="col-xs-6">Party Members</th>
      <th class="col-xs-6">User</th>
    </tr>
    <% game.party_members.each do |character| %>
    <tr>
      <td>
        <%= link_to character.name, character_path(character) %>
      </td>
      <td>
        <%= link_to character.user.username, user_path(character.user) %>
      </td>
    </tr>
    <% end %>
  </table>

  <table class="table">
    <tr>
      <th class="col-xs-6">Waiting to Join</th>
      <th class="col-xs-6"></th>
    </tr>
    <% game.non_party_members.each do |character| %>
    <tr>
      <td>
        <%= link_to character.name, character_path(character) %>
      </td>
      <td>
        <%= link_to character.user.username, user_path(character.user) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
