<div class="table-responsive">
  <table class="table players">
    <tr>
      <th>GM</th>
      <th><%= link_to game.game_master.username, user_path(game.game_master) %></th>
    </tr>
    <% game.players.each do |p| %>
      <% unless p.user == game.game_master %>
      <tr>
        <% if p.characters.count > 0 %>
        <td class="overflow">
        <% p.characters.each do |c|%>
        <%= link_to c.name, character_path(c) %>,
        <% end %>
        </td>
        <% else %>
        <td>(no character yet)</td>
        <% end %>
        <td><%= link_to p.user.username, user_path(p.user) %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
