<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Edit Description</h1>

      <%= render 'editform' %>

      <%= link_to 'Discard Changes and Go Back', game_path(game) %>
    </div>
  </div>
</div>
