<style>
#narigraph-template {
  display: none;
}
.pagination {
  margin: 0px;
}
.back-btn {
  margin-bottom: 10px;
}
.form-group {
  padding-bottom: 0px;
}

.narigraph {
  border: 1px solid #e8e8e8;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.narigraph p {
  margin-bottom: 0px;
}

.narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}

.bold-narigraph {
  border: 1px solid #99CCFF;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.bold-narigraph p {
  margin-bottom: 0px;
  word-wrap: break-word;
}

.bold-narigraph .message {
  font-size: 18px;
  margin-bottom: 10px;
}

.bold-narigraph small {
  color: #B2B2B2;
  padding-left: 10px;
}

.chat-component h3 {
  border-bottom: 2px solid black;
}
.chat-box {
  border: 1px solid #999999;
  border-radius: 3px;
  margin-bottom: 4px;
}
.chat-box p{
  margin:6px -6px 6px -6px;
}
.chat-box .salutation {
  margin-left:-10px;
  margin-right:-10px;
  display:block;
}
.chat-box .salutation small{
  float: right;
  line-height: 20px;
}
.chat-box .salutation strong{
  float: left;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-1 hidden-xs">&nbsp;</div>
    <div class="col-sm-8 col-xs-12">
      <div id="narigraphs-panel"></div>
    </div>
    <div class="col-sm-2 col-xs-12">
      <div id="chats-panel"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function() {
      window.scrollTo(0,document.body.scrollHeight);
    }, (500));
  });


</script>
