<style>
.back-btn {
  margin-bottom: 10px;
}
.form-group {
  padding-bottom: 0px;
}
.bold-narigraph {
  background-color: white;
  border: 1px solid #99CCFF;
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.bold-narigraph p {
  word-wrap: break-word;
   margin-bottom: 20px;
}
.bold-narigraph .message {
  font-size: 18px;
}
.narigraph-list{
  max-height: 300px;
  overflow: scroll;
  border: 1px solid #B2B2B2;
}
.narigraph-salutation{
  float:right;
  display: block;
  line-height: 0px;
}
.narigraph-salutation p{
  margin-top: -4px;
}
.narigraph-salutation small {
  color: #B2B2B2;
  padding-left: 10px;
}

.chat-component h3 {
  border-bottom: 2px solid black;
}
.chat-box {
  border: 1px solid #999999;
  border-radius: 3px;
  margin-bottom: 4px;
}
.chat-box p{
  padding: 6px 6px 0px 6px;
}
.chat-box .salutation {
  display:block;
  line-height: 0px;
}
.chat-box .salutation small{
  float: right;
  color: #B2B2B2;
}
.chat-box .salutation strong{
  float: left;
}
.chat-list{
  max-height: 300px;
  overflow: scroll;
}
</style>

<div class="container">
  <div class="row">
    <div class="hidden-xs col-md-1">&nbsp;</div>
    <div class="col-xs-12 col-sm-8">
      <div id="narigraphs-panel"></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div id="chats-panel"></div>
    </div>
  </div>
</div>

<script>
var snapToBottom = function (scrollingElement){
  scrollingElement.scrollTop(scrollingElement[0].scrollHeight);
};

$(document).ready(function () {
  window.user = {
    username: '<%= current_user.username %>',
    character_name: '<%= character.name %>'
  };
  setTimeout(function() {
    snapToBottom($('.narigraph-list'));
    snapToBottom($('.chat-list'));
  }, (200));
  $('.narigraph-textarea').bind('focusin.snapToBottom', function(){
   snapToBottom($('.narigraph-list'));
  });
  $('.chat-textarea').bind('focusin.snapToBottom', function() {
    snapToBottom($('.chat-list'));
  });
});
</script>
