<style>
.players td.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Dungeon World</h3>
      <strong>Game #<%= game.id %></strong>
      <% if game.game_master == current_user %>
      <%= render "game_master_show" %>
      <% elsif current_user.is_playing? (game.id) %>
      <%= render "player_show" %>
      <% else %>
      <%= render "not_player_show" %>
      <% end %>
    </div>
  </div>
</div>
