<%= form_for @character do |f| %>
<!-- TODO adapt to new char_data json format -->
<h1>BROKEN!</h1>
<div class="form-group">
  <%= f.label "Character Name:" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<%= f.submit "Save Changes", class: "btn btn-default" %>
<% end %>
