<style>
.little-gray-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0px solid gray;
  border-radius: 4px;
  margin: 2px;
  background-color: gray;
}
.little-white-box {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  padding-top: 5px;
  color: black;
  background-color: white;
}
.little-box-hover {
  background-color: #4E8758;
}

.big-box-hover {
  background-color: #79c887;
}
.abilities-dropped {
  color: black;
  font-size: 24px;
  margin-top: -5px;
  text-align: center;
}
</style>

<div class="black-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-6 center">
      <p class="right-align-sm">Drag these scores to assign your stats:</p>
    </div>
    <div class="col-xs-12 col-sm-6 center">
      <div class="left-align-sm">
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">16</div>
        </div>
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">15</div>
        </div>
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">13</div>
        </div>
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">12</div>
        </div>
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">9</div>
        </div>
        <div class="little-gray-box droppable">
          <div class="ability-options little-white-box">8</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <div class="content">
      <div class="big-box abilities" data-ability="str">
        <h5>Str</h5>
      </div>
      <div class="big-box abilities" data-ability="dex">
        <h5>Dex</h5>
      </div>
      <div class="big-box abilities" data-ability="con">
        <h5>Con</h5>
      </div>
      <div class="big-box abilities" data-ability="int">
        <h5>Int</h5>
      </div>
      <div class="big-box abilities" data-ability="wis">
        <h5>Wis</h5>
      </div>
      <div class="big-box abilities" data-ability="cha">
        <h5>Cha</h5>
      </div>
  </div>
</div>
<script>
$( ".ability-options" ).draggable({
  revert: "invalid",
  snapMode: "inner",
  cursor: "none",
  helper: function() {
    var $clone = $(this).clone();
    $clone.removeClass( 'abilities-dropped' );
    $clone.addClass( 'little-white-box' );
    return $clone
  },
  start: function() {
    $(this).css('visibility', 'hidden');
  },
  stop: function() {
    $(this).css('visibility', 'visible');
  },
});
$( ".droppable").droppable({
  accept: ".ability-options",
  hoverClass: 'little-box-hover',
  drop: function(ev, ui) {
    var $self = $(this);
    var value = $(ui.draggable).text();
    for (key in abilities) {
      if (abilities[key] === value) {
        delete abilities[key];
      }
    }
    ui.draggable.removeClass( 'abilities-dropped' );
    ui.draggable.addClass( 'little-white-box' );
    ui.draggable.position( { of: $(this), my: 'center', at: 'center' } );
  }
});

var abilities = {
};
$( ".abilities" ).droppable({
  accept: ".ability-options",
  hoverClass: 'big-box-hover',
  drop: function(ev, ui) {
    var $self = $(this);
    var value = $(ui.draggable).text();
    if (abilities[$self.attr('data-ability')]) {
      return;
    }
    for (key in abilities) {
      if (abilities[key] === value) {
        delete abilities[key];
      }
    }
    abilities[$self.attr('data-ability')] = value;
    ui.draggable.removeClass( 'little-white-box');
    ui.draggable.addClass( 'abilities-dropped' );
    ui.draggable.position( { of: $(this), my: 'top left', at: 'top left' } );
  },
});
</script>
