<style>
.little-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 2px;
  color: black;
  background-color: gray;
}
.ability-options {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  padding-top: 5px;
  color: black;
  background-color: white;
}

.abilities-picker-text {
  width: 30px;
  display: inline-block;
}
</style>

<div class="black-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-6 center">
      <p class="content">Assign these scores to your stats:</p>
    </div>
    <div class="col-xs-12 col-sm-6 center">
      <div class="content">
        <div class="little-box droppable">
          <div class="ability-options">16</div>
        </div>
        <div class="little-box droppable">
          <div class="ability-options">15</div>
        </div>
        <div class="little-box droppable">
          <div class="ability-options">13</div>
        </div>
        <div class="little-box droppable">
          <div class="ability-options">12</div>
        </div>
        <div class="little-box droppable">
          <div class="ability-options">9</div>
        </div>
        <div class="little-box droppable">
          <div class="ability-options">8</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <div class="content">
    <div>
      <div class="little-box abilities" data-ability="str"></div>
      <div class="little-box abilities" data-ability="dex"></div>
      <div class="little-box abilities" data-ability="con"></div>
      <div class="little-box abilities" data-ability="int"></div>
      <div class="little-box abilities" data-ability="wis"></div>
      <div class="little-box abilities" data-ability="cha"></div>
    </div>
    <div>
      <div class="abilities-picker-text">Str</div>
      <div class="abilities-picker-text">Dex</div>
      <div class="abilities-picker-text">Con</div>
      <div class="abilities-picker-text">Int</div>
      <div class="abilities-picker-text">Wis</div>
      <div class="abilities-picker-text">Cha</div>
    </div>
  </div>
</div>
<script>

var abilities = {
};
$( ".ability-options" ).draggable({
  revert: "invalid",
  snap: ".little-box",
  snapMode: "inner",
});
$( ".droppable").droppable({
  accept: ".ability-options",
});
$( ".abilities" ).droppable({
  accept: ".ability-options",
  drop: function(ev, ui) {
    var $self = $(this);
    var value = $(ui.draggable).text();
    abilities[$self.attr('data-ability')] = value;
    console.log(abilities);
    // $self.droppable( "disable" );
  },
  out: function(ev, ui) {
    console.log("rooof");
    $(this).droppable("enable");
  },
});

$("form").submit(function( event ) {
  $("input:last").after('<input type="hidden" name="character[str]" value='+abilities.str+'>');
  $("input:last").after('<input type="hidden" name="character[dex]" value='+abilities.dex+'>');
  $("input:last").after('<input type="hidden" name="character[con]" value='+abilities.con+'>');
  $("input:last").after('<input type="hidden" name="character[int]" value='+abilities.int+'>');
  $("input:last").after('<input type="hidden" name="character[wis]" value='+abilities.wis+'>');
  $("input:last").after('<input type="hidden" name="character[cha]" value='+abilities.cha+'>');
});
</script>
