<h2>Character Overview</h2>
<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>
<p>
  <strong>Back to Game:</strong>
  <%= link_to 'Game #' + @character.player.game.id.to_s, game_path(@character.player.game) %>
</p>
<% if current_user == current_character.player.user %>
<%= link_to 'edit', edit_character_path(@character) %>
<% end %>
